In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split

%matplotlib inline

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

sns.set_style('whitegrid')

In [5]:
file1 = "../data/processed/Loan_cleandata2.csv"
ChunkSize = 200000
i = 1
for chunk in pd.read_csv(file1, chunksize=ChunkSize, low_memory=False):
    loan_data = chunk if i == 1 else pd.concat([loan_data, chunk])
    print('-->Read Chunk...', i)
    i += 1


# data = pd.read_csv("loan.csv", low_memory=False)

-->Read Chunk... 1
-->Read Chunk... 2
-->Read Chunk... 3
-->Read Chunk... 4

In [6]:
# print(list(data.columns))
print(loan_data.shape)

(741542, 37)

In [7]:
print(loan_data.head())

   loan_amnt        term  int_rate  installment grade sub_grade  \
0       8400   36 months     10.75       274.02     B        B4
1       6000   36 months     17.27       214.73     D        D2
2      15000   36 months      9.93       483.52     B        B2
3       5600   36 months      7.35       173.81     A        A4
4      12000   36 months     11.55       396.00     B        B3

                  emp_title  emp_length home_ownership  annual_inc  \
0  Administrative Assistant           4           RENT     49999.0
1                   Teacher          10            OWN     72000.0
2                 Professor           1       MORTGAGE     80000.0
3        Software Developer           4           RENT     78618.0
4                      ucsf           1           RENT    120000.0

  verification_status loan_status             purpose addr_state    dti  \
0            Verified   Bad loans  debt_consolidation         NY   4.61
1        Not Verified  Good loans    home_improvement         MI  22.80
2        Not Verified     Unknown         credit_card         GA  15.26
3            Verified     Unknown               other         TX  29.60
4     Source Verified  Good loans  debt_consolidation         CA   5.75

   delinq_2yrs initial_list_status  open_acc_6m  open_act_il  open_il_12m  \
0          0.0                   f          0.0          1.0          0.0
1          0.0                   w          2.0          2.0          0.0
2          0.0                   w          0.0          5.0          1.0
3          0.0                   w          0.0          5.0          1.0
4          0.0                   f          0.0          1.0          0.0

   il_util  open_rv_12m  inq_fi  inq_last_12m  acc_open_past_24mths  mort_acc  \
0     78.0          0.0     0.0           0.0                   2.0       0.0
1     32.0          2.0     0.0           4.0                   5.0       0.0
2     70.0          0.0     0.0           0.0                   2.0       2.0
3     62.0          0.0     0.0           1.0                   4.0       0.0
4     78.0          0.0     0.0           0.0                   4.0       0.0

   num_accts_ever_120_pd  num_tl_op_past_12m  tot_hi_cred_lim  \
0                    0.0                 0.0          77000.0
1                    0.0                 2.0          53296.0
2                    0.0                 1.0         183350.0
3                    0.0                 1.0         137320.0
4                    0.0                 2.0          34419.0

   total_bal_ex_mort  total_bc_limit  year  percent_complete  \
0            63633.0          9900.0  2016             59.89
1            30256.0         15800.0  2016            127.56
2            53878.0         28700.0  2017             67.64
3            79005.0         27500.0  2017             59.07
4            18628.0          7181.0  2013            117.01

      max_bal_bc_cat  num_sats_cat percent_bc_gt_75_cat  loan_status_count
0   (2000.0, 5000.0]   (5.0, 10.0]         (20.0, 40.0]                  1
1  (5000.0, 10000.0]  (10.0, 20.0]        (80.0, 100.0]                  0
2  (5000.0, 10000.0]  (10.0, 20.0]         (20.0, 40.0]                  2
3   (2000.0, 5000.0]  (10.0, 20.0]       (-0.001, 20.0]                  2
4   (-0.001, 1000.0]   (5.0, 10.0]       (-0.001, 20.0]                  0

In [8]:
col_to_drop = ['sub_grade', 'loan_status_count']
df_final = loan_data.drop(col_to_drop, axis=1)

In [9]:
df_known = df_final[df_final['loan_status'] != 'Unknown']
df_unknown = df_final[df_final['loan_status'] == 'Unknown'].drop('loan_status', axis=1)

In [11]:
df_known.to_csv('../data/processed/Loan_known_data.csv', index=False)
df_unknown.to_csv('../data/processed/Loan_unknown_data.csv', index=False)